:root {
    --spacing: 10px;
    --theme: #033b93;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

main pre {
    text-wrap: wrap;
    font-size: 20px;
}

/* HEADER */



/* MAIN */

main {
    display: block;
    padding: var(--spacing);
    background-color: black;
    min-height: calc(100vh - 70px);
}

/* FOOTER */

footer {
    color: white;
    background-color: #333;
    padding: var(--spacing);
}

/* MEDIA QUERIES */

hr {
    background-color: white;
}