@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url('explore.css');

:root {
    --spacing: 10px;
    --theme: #033b93;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    font-size: 14px;
}

main pre {
    text-wrap: wrap;
}

/* HEADER */



/* MAIN */

main {
    padding: var(--spacing);
    background-color: #ddd;
}

/* FOOTER */

footer {
    color: white;
    background-color: #333;
    padding: var(--spacing);
}

/* MEDIA QUERIES */

